# ¿Cómo funciona una unión izquierda en pandas?

En esta lección analizaremos cómo funciona una **unión izquierda** (*left join*), que es otra forma de fusionar dos tablas en pandas.

En el capítulo 1 presentamos el método de **fusión** (`merge`) de pandas, que nos permite combinar dos tablas especificando una o más columnas clave para vincularlas.
De forma predeterminada, el método de combinación realiza una **unión interna** (*inner join*) y devuelve solo las filas cuyos valores coinciden en las columnas clave de ambas tablas.

![Ejemplo de inner join](../../resource/inner_join.png)

---

En esta lección nos enfocaremos en la idea de una **unión izquierda** (*left join*).
Con este tipo de unión, se devuelven **todas** las filas de la tabla izquierda y solo aquellas filas de la tabla derecha donde hay coincidencia en las columnas clave. Si no hay coincidencia, los valores de la tabla derecha aparecerán como `NaN`.

![Ejemplo de left join](../../resource/left_join.png)

In [5]:
import pandas as pd

cli = pd.read_csv("../../data/clientes.csv")
print(cli.columns)

ped = pd.read_csv("../../data/pedidos.csv")
print(ped.columns)


cli_ped = cli.merge(ped,on='id_cliente',how='left')
cli_ped

Index(['id_cliente', 'nombre', 'correo'], dtype='object')
Index(['id_pedido', 'fecha', 'total', 'id_cliente'], dtype='object')

,id_cliente,nombre,correo,id_pedido,fecha,total
0,1,Ana Pérez,ana.perez@email.com,101,2024-06-01,150.0
1,1,Ana Pérez,ana.perez@email.com,102,2024-06-03,200.0
2,1,Ana Pérez,ana.perez@email.com,105,2024-06-11,120.0
3,2,Juan López,juan.lopez@email.com,103,2024-06-05,75.5
4,3,María Gómez,maria.gomez@email.com,104,2024-06-10,320.0