## Fusión utilizando índices

Hasta este momento, solo hemos fusionado dos tablas usando sus columnas.

En este Notebook analizaremos cómo fusionar tablas utilizando sus **índices**.

A los índices de un DataFrame se les asigna una identificación única, la cual podemos utilizar al fusionar dos tablas.

In [8]:
import pandas as pd

cli = pd.read_csv('../../data/clientes.csv', index_col='id_cliente')
# print(cli)

ped = pd.read_csv('../../data/pedidos.csv')
# print(ped)

cli_ped = cli.merge(ped,on='id_cliente',how ='left')
cli_ped.head()

,id_cliente,nombre,correo,id_pedido,fecha,total
0,1,Ana Pérez,ana.perez@email.com,101,2024-06-01,150.0
1,1,Ana Pérez,ana.perez@email.com,102,2024-06-03,200.0
2,1,Ana Pérez,ana.perez@email.com,105,2024-06-11,120.0
3,2,Juan López,juan.lopez@email.com,103,2024-06-05,75.5
4,3,María Gómez,maria.gomez@email.com,104,2024-06-10,320.0