El método `merge` admite otros dos tipos de unión: el "right join" (unión por la derecha) y el "outer join" (unión completa).

### Right Join (`right join`)
El right join devuelve únicamente aquellas filas de la **tabla izquierda** que tienen valores coincidentes en la **tabla derecha**. Es el opuesto de la unión izquierda (`left join`).

![Right Join](../../resource/right_join.png)

In [11]:
import pandas as pd

cli = pd.read_csv('../../data/clientes.csv')
print(cli.columns)

ped = pd.read_csv('../../data/pedidos.csv')
print(ped.columns)

cli_ped_right = cli.merge(ped, how='right', on='id_cliente')
cli_ped_right.loc[:,:'fecha']

Index(['id_cliente', 'nombre', 'correo'], dtype='object')
Index(['id_pedido', 'fecha', 'total', 'id_cliente'], dtype='object')

   id_cliente       nombre                 correo  id_pedido       fecha
0           1    Ana Pérez    ana.perez@email.com        101  2024-06-01
1           1    Ana Pérez    ana.perez@email.com        102  2024-06-03
2           2   Juan López   juan.lopez@email.com        103  2024-06-05
3           3  María Gómez  maria.gomez@email.com        104  2024-06-10
4           1    Ana Pérez    ana.perez@email.com        105  2024-06-11

### Outer Join (`outer join`)

El último tipo de unión se llama **unión externa**.
Una unión externa devuelve todas las filas de ambas tablas, independientemente de si existe coincidencia entre ellas.

![Outer Join](../../resource/outer_join.png)