In [ ]:
import pandas as pd

df = pd.read_csv('../data/Books.csv')
df['pages'] = pd.to_numeric(df['pages'], errors='coerce') # transform 'pages' column to numeric, handling errors

print("DataFrame cargado con éxito.")
df.head(2)  # Display the first few rows of the DataFrame

DataFrame cargado con éxito.

,title,author,pages,genre,description,published_date,publisher,language,average_rating,ratings_count,thumbnail
0,Fictional Points of View,Peter Lamarque,252.0,Literary Criticism,The volume focuses on a wide range of thinkers...,1996,Cornell University Press,en,No rating,0,http://books.google.com/books/content?id=rh-om...
1,Science Fiction and Fantasy Literature,"R. Reginald, Douglas Menville, Mary A. Burgess",802.0,Reference,"Science Fiction and Fantasy Literature, A Chec...",2010-09-01,Wildside Press LLC,en,No rating,0,http://books.google.com/books/content?id=P8zW2...

## Crear y añadir nuevas columnas en pandas

La creación y adición de nuevas columnas en un DataFrame de pandas puede conocerse como **mutar**, **transformar** o **ingeniería de características** (feature engineering).

Esto te permite generar información adicional a partir de los datos existentes.

### Ejemplo básico

Para añadir una columna llamada `'ejemplo'` que sea el resultado de dividir el número de páginas entre 10:

```python
df['ejemplo'] = df['pages'] / 10
print(df)
```

---

### Recomendaciones

- Puedes crear columnas a partir de operaciones matemáticas, funciones personalizadas, o aplicar métodos de pandas.
- Es posible crear varias columnas a la vez, usando distintas asignaciones o el método `.assign()`.

#### Ejemplo usando `.assign()`:

```python
df = df.assign(
    ejemplo=df['pages'] / 10,
    doble_paginas=df['pages'] * 2
)
```

---

**Resumen:**  
Crear nuevas columnas es fundamental para transformar y enriquecer tus datos antes de analizarlos o construir modelos.

In [19]:
df['ejemplo'] = df['pages'] / 10
print(df['ejemplo'].head(5))  # Display the first few rows of the new column

0     25.2
1     80.2
2    166.2
3    151.2
4     24.8
Name: ejemplo, dtype: float64