In [2]:
import pandas as pd
emp = pd.read_csv("../../data/empleados.csv")
emp.head(3)

   empleado_id nombre  departamento_id  edad
0            1   Juan               10    32
1            2    Ana               20    28
2            3  Pedro               10    45

In [3]:
dts = pd.read_csv("../../data/departamentos.csv")
dts.head(3)

   departamento_id nombre_departamento  ubicacion
0               10    Recursos Humanos     Madrid
1               20            Finanzas  Barcelona
2               30                  IT   Valencia

## Fusión de DataFrames con pandas

El paquete `pandas` ofrece el método `merge` para combinar DataFrames de manera eficiente. Por ejemplo, para fusionar los DataFrames `emp` y `dts` utilizando la columna `id_departamento` como clave:

```python
import pandas as pd

# Fusiona los DataFrames emp y dts sobre la columna 'id_departamento'
dts_emp = pd.merge(emp, dts, on='id_departamento', how='inner')
```

- **on**: especifica la columna clave en común.
- **how**: determina el tipo de unión (`'inner'`, `'left'`, `'right'`, `'outer'`). Por defecto es `'inner'`.

> **Tip:**
> Si las columnas que relacionan los DataFrames tienen distintos nombres, puedes usar `left_on` y `right_on`:
> ```python
> dts_emp = pd.merge(emp, dts, left_on='id_departamento', right_on='departamento_id')
> ```

**Recuerda comentar el código para facilitar su mantenimiento y comprensión.**

In [6]:
dts_emp = emp.merge(dts, on='departamento_id')
dts_emp.head(3)

   empleado_id nombre  departamento_id  edad nombre_departamento  ubicacion
0            1   Juan               10    32    Recursos Humanos     Madrid
1            2    Ana               20    28            Finanzas  Barcelona
2            3  Pedro               10    45    Recursos Humanos     Madrid

## Evitar colisión de nombres de columnas al fusionar DataFrames con pandas

Cuando fusionamos DataFrames en pandas que tienen columnas con el mismo nombre (aparte de la clave de unión), podemos usar el argumento `suffixes` para diferenciar dichas columnas y evitar colisiones.

Por ejemplo, para fusionar los DataFrames `emp` y `dts` usando la columna `departamento_id`, y agregar sufijos que identifiquen el origen de cada columna:

```python
import pandas as pd

# Fusiona los DataFrames y añade sufijos para evitar colisiones en los nombres de columna
dts_emp = pd.merge(emp, dts, on='departamento_id', suffixes=('_emp', '_dts'))
```

- **suffixes**: tupla con los sufijos a utilizar para las columnas que tengan el mismo nombre, excepto la columna clave.

> **Ejemplo:**
> Si ambos DataFrames tienen una columna llamada `nombre`, después de la fusión tendrás `nombre_emp` y `nombre_dts`.

**Consejo:**
Elige sufijos descriptivos para facilitar la interpretación de los datos resultantes.

In [8]:
dts_emp = emp.merge(dts, on='departamento_id', suffixes=('_emp', '_dts'))
print(dts_emp.columns)

Index(['empleado_id', 'nombre', 'departamento_id', 'edad',
       'nombre_departamento', 'ubicacion'],
      dtype='object')