# Análisis de Relaciones entre Tablas

En este Notebook analizaremos diferentes tipos de relaciones entre tablas.
En particular, se verá la relación **uno a muchos**.

Las relaciones **uno a uno** implican que cada fila de la tabla izquierda está relacionada con una y solo una fila de la tabla derecha.

<div align="center">
  <img src="../../resource/one_to_one.png" alt="Relación uno a uno">
</div>

Ahora una relacion uno a muchos cada fila de la tabla izquierda esta relacionada con una o mas filas de la tabla derecha.
<div align="center">
  <img src="../../resource/one_to_many.png" alt="Relación uno a muchos">
</div>

In [1]:
import pandas as pd

cli = pd.read_csv('../../data/clientes.csv')
ped = pd.read_csv('../../data/pedidos.csv')

print(cli)
print(ped)

   id_cliente       nombre                 correo
0           1    Ana Pérez    ana.perez@email.com
1           2   Juan López   juan.lopez@email.com
2           3  María Gómez  maria.gomez@email.com
   id_pedido       fecha  total  id_cliente
0        101  2024-06-01  150.0           1
1        102  2024-06-03  200.0           1
2        103  2024-06-05   75.5           2
3        104  2024-06-10  320.0           3
4        105  2024-06-11  120.0           1

Los dos DataFrames tienen una columna en común, que es el `id_cliente`.
Pandas se encarga de las relaciones de uno a muchos por nosotros y no requiere nada especial de nuestra parte.

In [5]:
cliente_pedidos = cli.merge(ped,on= 'id_cliente')
print(cliente_pedidos)

   id_cliente       nombre                 correo  id_pedido       fecha  \
0           1    Ana Pérez    ana.perez@email.com        101  2024-06-01
1           1    Ana Pérez    ana.perez@email.com        102  2024-06-03
2           1    Ana Pérez    ana.perez@email.com        105  2024-06-11
3           2   Juan López   juan.lopez@email.com        103  2024-06-05
4           3  María Gómez  maria.gomez@email.com        104  2024-06-10

   total
0  150.0
1  200.0
2  120.0
3   75.5
4  320.0